<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <button class="btn btn-link btn-outline-primary" routerLink='form' >FORM</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-link btn-outline-primary"  routerLink='reactivefrm'>REACTIVE FORM</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-link btn-outline-primary" (click)="navigatetorxjs()">RXJS OPERATOR</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-link btn-outline-primary"  routerLink='subject'>SUBJECT</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-link btn-outline-primary"  routerLink='observe'>OBSERVE</button>
    </li>
    
  </ul>
</nav>
<br>
<router-outlet></router-outlet>
<!--<app-subjectcmpnt></app-subjectcmpnt>
<app-rxjsoperator1></app-rxjsoperator1>-->
<!--<app-rxjsoperator></app-rxjsoperator>-->
<!--<app-intercmpnt></app-intercmpnt>-->
<!--<app-observe1cmpnt></app-observe1cmpnt>
<app-observecomponent></app-observecomponent>-->
<!--<app-page-not-found></app-page-not-found>-->
<!--<app-login></app-login>-->
<!--<app-observe></app-observe>-->
<!--<app-reactivefrm></app-reactivefrm>-->
<!--<app-data></app-data>-->
<!--<app-form></app-form>-->
<!--<h1>{{title | titlecase}}</h1>
<h3>{{today | date:'fullDate'}}</h3>
<h4>{{data1 | json}}</h4>
<h4>salary is {{salary | currency:'INR'}}</h4>
<h4>{{title | slice :5:12}}</h4>
<h4> expressed in {{number1 | percent}}</h4>
<h4>{{pi|number :'3.1-5' }}</h4>-->
<!--<h2>Normal Heading</h2>
<h2 appCustomstyle>Custom Heading</h2>
<h5>{{fname}}</h5>
<a routerLink="login">login</a><br>
<a routerLink="signup">signup</a><br>
<a routerLink="header">header</a><br>
<a routerLink="footer">footer</a><br>
<a routerLink="user-list">user-list</a><br>
<a routerLink="form">Template Form</a><br>
<a routerLink="about">about</a>
<router-outlet></router-outlet>
<button mat-button color="accent">ANGULAR 11</button>
<button mat-raised-button color="warn">Warn</button>
<mat-slider min="1" max="10" step="0.5"></mat-slider>-->

<!--<app-user-list [hero]="data"></app-user-list>-->
<!--<div *ngFor="let val of data">
  <app-user-list [hero]="data"></app-user-list>
</div>-->
  
<!--<app-user-list (parent)="parentcomponent($event)"></app-user-list>--><br><br>


<!--<app-header></app-header>
    <app-footer></app-footer>-->

<!--<h2>{{getname()}}</h2>
<h2>{{obj.name}}</h2>
<h2>{{obj.age}}</h2>
<h2>{{arr}}</h2>
<h2>{{a*b}}</h2>
<h2>{{siteurl}}</h2>
  <app-user-list></app-user-list>
 
  <app-signup></app-signup>-->
  <!--<button (click)="getName(yourName)">get my  name</button>-->
<!--<button (click)="myEvent('this is click event')">click me</button>
  <br><br>
  <input type="text" #box (keydown)="myEvent(box.value)"><br><br>
  <input type="text" (blur)="myEvent('blur event')"><br><br>
  <div (mouseover)="myEvent('mouse in')" style="background-color: skyblue;">Mouse events</div>-->
<!--get textbox value in Angular-->
<!--<input type="text" (keyup)="getVal($event.target.value)">-->