<h1>signup code</h1>
<div name="temp">
    I am learning Angular11 and just I am begineer of it.
</div>
 <div appMydirective>I am improve my anular knowlrdge day by day</div>

<p [ngClass]='simpleclass'>built in attribute directive in ng</p>
<div [ngStyle]="{'background-color': showdata ? 'green':'blue'}">ng style built in attribute</div>

<h1 [style.color]="color">angular 11</h1>
<h2 [style.color]="showdata?'blue':'red'">hello</h2>
<button (click)="updateclr()">update color</button>
<br><br>
<!--<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </div>-->
  
    